<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.dao.MRoleMapper">
  <resultMap id="BaseResultMap" type="com.base.model.MRole">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="r_name" jdbcType="VARCHAR" property="rName" />
    <result column="r_type" jdbcType="VARCHAR" property="rType" />
    <result column="r_datalevel" jdbcType="VARCHAR" property="rDatalevel" />
    <result column="r_remark" jdbcType="VARCHAR" property="rRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uuid, r_name, r_type, r_datalevel, r_remark
  </sql>
  <select id="selectByExample" parameterType="com.base.model.MRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_role
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from m_role
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.base.model.MRoleExample">
    delete from m_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.base.model.MRole">
    insert into m_role (uuid, r_name, r_type, 
      r_datalevel, r_remark)
    values (#{uuid,jdbcType=VARCHAR}, #{rName,jdbcType=VARCHAR}, #{rType,jdbcType=VARCHAR}, 
      #{rDatalevel,jdbcType=VARCHAR}, #{rRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.base.model.MRole">
    insert into m_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="rName != null">
        r_name,
      </if>
      <if test="rType != null">
        r_type,
      </if>
      <if test="rDatalevel != null">
        r_datalevel,
      </if>
      <if test="rRemark != null">
        r_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="rName != null">
        #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rType != null">
        #{rType,jdbcType=VARCHAR},
      </if>
      <if test="rDatalevel != null">
        #{rDatalevel,jdbcType=VARCHAR},
      </if>
      <if test="rRemark != null">
        #{rRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.base.model.MRoleExample" resultType="java.lang.Integer">
    select count(*) from m_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update m_role
    <set>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.rName != null">
        r_name = #{record.rName,jdbcType=VARCHAR},
      </if>
      <if test="record.rType != null">
        r_type = #{record.rType,jdbcType=VARCHAR},
      </if>
      <if test="record.rDatalevel != null">
        r_datalevel = #{record.rDatalevel,jdbcType=VARCHAR},
      </if>
      <if test="record.rRemark != null">
        r_remark = #{record.rRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update m_role
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      r_name = #{record.rName,jdbcType=VARCHAR},
      r_type = #{record.rType,jdbcType=VARCHAR},
      r_datalevel = #{record.rDatalevel,jdbcType=VARCHAR},
      r_remark = #{record.rRemark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.base.model.MRole">
    update m_role
    <set>
      <if test="rName != null">
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rType != null">
        r_type = #{rType,jdbcType=VARCHAR},
      </if>
      <if test="rDatalevel != null">
        r_datalevel = #{rDatalevel,jdbcType=VARCHAR},
      </if>
      <if test="rRemark != null">
        r_remark = #{rRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.base.model.MRole">
    update m_role
    set r_name = #{rName,jdbcType=VARCHAR},
      r_type = #{rType,jdbcType=VARCHAR},
      r_datalevel = #{rDatalevel,jdbcType=VARCHAR},
      r_remark = #{rRemark,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>